<<<<<<< HEAD
header {
    border-radius: 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-shadow: 0px 4px 5px #ffffff;
}

nav ul.a {
    display: flex;
    list-style-type: none;
}

nav ul.a li.a {
    margin-left: 30px;
    margin-top: 5px;
    height:31px;
}

nav ul.a li.a a {
    text-decoration: none;
    color: #495057;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav ul.a li.a a:hover {
    background-color: #e7f4ff;
    color: #3a6ea5;
=======
header {
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul.a {
    display: flex;
    list-style-type: none;
}

nav ul.a li.a {
    margin-left: 30px;
    margin-top: 5px;
    height:31px;
}

nav ul.a li.a a {
    text-decoration: none;
    color: #495057;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav ul.a li.a a:hover {
    background-color: #e7f4ff;
    color: #3a6ea5;
>>>>>>> cb66d380b4ff7f4c503add2614590df5417a0527
}